@using Microsoft.AspNetCore.Mvc.Localization
@using ServiceProject.Localization
@inject IHtmlLocalizer<ServiceProjectResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
